{% extends 'base.html' %}
{% block body_block %}
<h3>Our Loan Schemes</h3>

<pre>

LOAN SCHEMES OF ABC Bank
Loan Schemes of ABC Bank are as follows:

Loan Promotion Scheme
<ul>
<li>Main Loan Scheme</li>
<li>Gold Credit Scheme</li>
<li>Housing Loan Scheme</li>
<li>Working Capital Term Loan Scheme</li>
<li>Repeat Loan Scheme</li>
</ul>


<ol type="1">
<li> Loan Promotion Scheme

This scheme is for providing loans to new and smaller organizations with experience of at least 6 months in thrift & credit. The organization can avail a maximum loan up to Rs. 10 lakhs.
</li>

<li>Main Loan Scheme

This scheme is for providing loans to organizations having minimum 3 years’ experience in thrift & credit activities. The organization can avail a maximum loan upto 2 crores for 1 state. An organization can avail loan under the scheme for a maximum number of 3 states at a time. If the organization avails loan for more than 1 state, then the maximum loan amount can be upto Rs.6 crores.</li>

<li>Gold Credit Scheme

This scheme is for providing bulk loans to medium and large NGOs. This scheme is meant for organization which has in the past availed loan from RMK and have not defaulted in repayment. The organization can avail a maximum loan upto Rs 5 crores.</li>

<li> Housing Loan Scheme

This scheme is for providing loan for construction/ repair and maintenance of houses to women who are members of Self Help Group/ Joint Liability Groups (JLGs). This loan is provided through IMOs/NGOs/VOs. The organization can avail a maximum loan upto Rs 1,00,000/- per beneficiary for construction of low cost house. The organization has to mortgage the immovable property created out of RMK's loan by deposit of title deed (i.e. equitable mortgage). The NGO/ IMO/VO may hold the deeds in trust for RMK and details of the same be captured in RMK database. An NGO/IMO/ VO can avail a maximum loan upto Rs. 6 crores for a maximum of 3 states at a time.</li>

Common eligibility norms for I to IV of loan schemes of RMK:

The organization must be registered with a statutory body at least for last 3 years on the date of application to RMK.
The office bearers of the organization shall not be elected representatives under The Representation of the People Act, 1951 of any political party/ Managing Committee of any such organization.
The organization should have experience in Thrift and Credit Management for 3 years or more and/ or should have promoters/seniors management having at least 5/10 years of experience in micro credit/ banking/NBFC lending operations.
The NGO/IMO/VO should have audited financial statements (in case of NGO with microfinance as a programme, the NGO should have separate audited financial statements for MF programme) and it should have systems, processes and procedures in place as required of a financial intermediary like accounting, internal audit, risk management, timely MIS etc. The organization applying for loan must have broad based objectives of serving the social and economic needs of the poor women.
The application shall clearly reflect the source of funds earlier utilized for credit.
Recoveries of the loans given to its members earlier must be at least 90%.
There must be proper and specific clause / provision in the Bye-laws / Memorandum of Association of the organization about powers to borrow or raise loans from any outside agency.
The NGO/IMO/VO should not be in default to any FI/ NBFC/ Bank/ Govt Corporation.
The NGO should have lending in its main object clause and powers to mortgage its property should also be spelt out.
The NGO/IMO/ VO should follow tenets of responsible lending practices.
The NGO/IMO/ VO to carry due diligence and seek specific information about the borrowings of each customer to ensure that no customer has availed loan from more than two MFI/Banks/ Corporations.

Purpose of Loan
Organisations availing loan from RMK shall on-lend to the end beneficiaries for the following purposes:-
Income generating activities such as setting up of small business, asset creation, agriculture, petty shop, livestock rearing, transport services, etc.

Consumption Loans:

Life Cycle need: Birth, Death, Education, Marriage, House construction, Old age, Widowhood, Festival and other family events, etc.
Emergency needs: Medical emergencies, Natural calamities, Theft & Accidents, etc.

Rate of Interest

RMK may revise the rate of interest on loans availed by NGOs/IMOs/VOs and also on-lending rate to SHG / beneficiaries from time to time.
Interest rate w.e.f.17.11.2015 are as follows;
RMK to NGO - 6% p.a. on reducing balance
NGO to SHG/ Individual Beneficiary - any rate on or above 6% p.a. subject to maximum ceiling of 10% p.a. on reducing balance.

Distribution of loan

RMK fund is for income generation activities as mentioned under purpose of loan. Loan for consumption purposes shall not be more than 1 % of total amount given by IMOs to women beneficiaries.

Security

No security for loan upto Rs. 50 lakh
Loans above Rs.50 lakh and upto Rs.1 Crore:- 10% of the project cost as margin amount in the form of fixed deposit till the loan is cleared.
For loans above Rs. 1 Crore, 10% of the project cost be kept as margin money in the form of fixed deposit with RMK till the loan is repaid and immovable property having value equal to or more than 50 % of loan amount be taken as collateral security by deposit of title deed (Equitable Mortgage) after following the due procedure in mortgaging such properties.
The NGO/IMO/VO may hold the deeds in trust for RMK of the immovable properties created out of RMK's Housing Loan Scheme.

Insurance
The borrowing organization/ end beneficiaries shall ensure adequate insurance cover of all assets created out of RMK's loan.

Repayment
Loan amount availed under all schemes other than Gold Card Scheme, to be repaid within three years i.e. in 30 monthly instalments with an initial gestation period of 6 months. Repayment period for the Gold Card Scheme is 30 monthly instalments with an initial gestation period of one year.

Margin
The organization is required to contribute a margin of 10% of the loan to be availed from RMK. NGOs/IMOs/VOs will be advanced 90% of the total cost of the scheme approved. However, thrift/compulsory savings/voluntary savings of borrowers should not be used in the form of margin money.

Disbursement

Loan amount up to Rs.1 Crore shall be disbursed to NGOs/IMOs/VOs in two equal instalments and loan amount above Rs.1 Crore shall be released in 3 instalments at the ratio of 40:40:20 after unit visit and based on the reports submitted by RMK’s representatives. Final disbursement will be made after due approval of competent authority.
The maximum on lending amount per individual beneficiary shall not exceed the amount as given under:
New Borrower : Rs.60,000/-
Repeat Borrower : Rs.1,00,000/- (existing plus new loan)
All disbursements to individual beneficiaries to be made by NGO/IMO/VO through their Aadhar linked bank account only.

Monitoring
Pre sanction and post sanction monitoring to be conducted by RMK to evaluate the loan proposal/utilization of loan.

(5) Working Capital Loan (WCL) Scheme
This scheme is for providing working capital term loan to the intermediary organization for backward and forward marketing linkage of product of Women SHGs/Individuals and group entrepreneurs, namely technology transfer, education and skill up gradation. The applicant has to submit a detailed project proposal to RMK.

1. Eligibility Norms

Eligibility norms remain the same as mentioned above under lending schemes.
The organization has to submit a detailed project proposal, which should be economically and technically viable and fulfil the social objectives /responsibilities of the organization.
The borrowing organization must have availed a loan under micro-credit scheme of RMK/ SIDBI/ NABARD/ Commercial Banks/Other Financial Institutions and must have repaid as per repayment schedule.

2. Purpose of Loan
The loan under WCTL can be utilized by the borrowing organization for the following purpose:-

 

For development of infrastructure to implement micro-credit programme like:-
i. Vehicle to carry SHG products from production place to market place.
ii. Work shed to carry out SHG activities.
iii. Business outlets/shops for selling of SHG products.
iv. For establishment of chilling plant, godown, local haat etc.
To carry out various Government programmes by investing funds availed from RMK and employing SHG members / women entrepreneur.
Procurement of SHG product and marketing.
Purchase/Lease of land to carry out crop cultivation by employing SHG members.
To provide loan to individual women micro entrepreneur or group of women entrepreneurs to undertake income generating activities. The organization has to undertake the marketing of the product of women entrepreneurs and ensure for repayment of loan.
To rehabilitate sick societies having at least 1/3rd women members.
To carry out various training / capacity building / skill up-gradation / education program of SHG members / women entrepreneurs.
Life Cycle need: Birth, Death, Education, Marriage, House Construction, Old age, Widowhood, Festival, and other family events etc.
3. Emergency needs: Medical emergencies, Natural calamities, Theft & Accidents, etc.

The maximum amount of loan to be provided by RMK to borrowing organization will be Rs. 2 crore per State. However, the organization can avail a maximum loan of Rs. 6 crores to operate in 3 States.
Loan amount is to be decided on case to case basis considering the actual need of the loan, financial health/management of the organization, experience/exposure in micro-credit and the creditability of the organization.
The second loan will be considered only after complete repayment of the first loan.
The formula for arriving at the working capital loan amount will be as under: -
Amount of the Proposed Credit Proposal - Available Margin with the Organization = Working Capital Term Loan (WCTL).
WCTL availed by the organisation shall be reviewed every year for its proper utilisation.

4. Security

No security for loan up to Rs. 50 lakh.
In case of loan above Rs.50 lakh and upto Rs.1 Crore, the organization has to provide 10% of the project cost as margin amount in the form of fixed deposit till the total repayment of the loan.
For loans above Rs. 1 Crore, 10% of the project cost be kept as margin money in the form of fixed deposit with RMK till the loan is repaid and immovable property having value equal to or more than 50 % of loan amount be taken as collateral security by deposit of title deed (Equitable Mortgage) after following the due procedure in mortgaging such properties.
All the movable assets created out of RMK's loan will be hypothecated to Rashtriya Mahila Kosh.
The organization has to mortgage (equitable mortgage, that is, deposit the title deeds of) the immovable properties which will be taken as collateral.
Where the on- lending of the loan is made to members of a self-help groups by the NGO/IMOs the assets created out of the loan will continue to remain in the name of the members.
5. Insurance
The borrowing organization/ individual beneficiaries has to ensure adequate insurance cover of the movable and immovable properties/assets which will be created out of RMK's loan.

6. Repayment
To be repaid within 36 months in monthly installments with an initial gestation period of 6 months.

7. Rate of interest
Same as given above under other Lending Schemes

8. Margin
The organization is required to contribute a margin of 10% of the total working capital term loan to be availed from RMK.

9. Disbursement
Loan amount to NGOs/IMOs/VOs up to Rs.1 Crore to be disbursed in two installments and loan amount above Rs.1 Crore to be disbursed in 3 installments (of 40:40:20) after unit visit and based on the reports submitted by RMK’s representatives. Disbursement will be made after due approval of competent authority.

10. Monitoring
Like other schemes there will be pre sanction monitoring and post sanction monitoring to be conducted by RMK to evaluate the loan proposal / utilization of loan.

(6) Repeat Loan Scheme

For a repeat loan, the NGO/IMO must have promptly repaid 80% of the previous loan without any break or delay in repayment. All other criteria for assessment, approval etc. will be the same as that of availing a fresh loan under (i) to (iv) Lending Schemes of RMK.
</pre>

{% endblock %}
