{% extends 'base.html' %}
{% block body_block %}
<h3>Create New Account</h3>

<form action="{% url 'bank:new_account' %}" method="POST">
    <label for="account_name">Account Name:</label>
    <input type="text" name="account_name" placeholder="Enter Account Name.." required class="form-control">
    
    <label for="account_type">Account Type:</label>
    <input type="text" name="account_type" required class="form-control">
    <label for="branch_name">Branch Name:</label>
    <input type="text" name="branch_name"  required class="form-control">
    
    
    
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Enter Password.." required class="form-control">
    {% csrf_token %}
    <br>
    <input type="submit" name="submit" value="Create New Account" style="color:white; background:#3F51B5">

</form>

{% endblock %}
