{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<style>

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #00BCD4;
  color: white;
}

#customers tr:n-th child(even)  {background-color: #00FFFF;}

#customers tr:hover {background-color: #FFFFF;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #287f8f;
  color: white;
}


a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;


</style>

<h1>
Bank Statement 
</h1>
<br>

<h3>Debit</h3>
<table id="customers" class="table table-bordered">
<tr>
<th>From</th>
<th>To</th>
<th>Amount</th>
<th>Timestamp</th>
</tr>

{% for transaction in send %}
<tr>
<td>{{transaction.sourceAccount}}</td>
<td>{{transaction.destAccount}}</td>
<td>{{transaction.amount}}</td>
<td>{{transaction.timestamp}}</td>
</tr>
{% endfor %}
</table>

<h3>Total Debit: {{totalSend}} </h3>

<br>

<h3>Credit</h3>
<table id="customers" class="table table-bordered">
<tr>
<th>From</th>
<th>To</th>
<th>Amount</th>
<th>Timestamp</th>
</tr>

{% for transaction in receive %}
<tr>
    <td>{{transaction.sourceAccount}}</td>
    <td>{{transaction.destAccount}}</td>
    <td>{{transaction.amount}}</td>
    <td>{{transaction.timestamp}}</td>
</tr>
{% endfor %}

</table>
<h3>Total Credit: {{totalReceive}} </h3>

{% endblock %}